:root {
  --light: rgb(234, 234, 234);
  --dark: rgb(40, 37, 37);
  --dkmid: rgb(208, 208, 208);
  --otherdk: rgb(95, 95, 95);
  --verylight: #F9F9F9;
  --accent: #6495ed;
}
body {
  color: var(--light); 
  background-color: var(--dark);
  line-height: 1.4; 
}
hr {
  height: 0;
  overflow: visible;
  color: var(--dark);
}

a {color: var(--accent); font-weight: 500; text-decoration: none; transition: all .2s ease-in-out;}
a:visited {color:#305eb3;}
a:hover {color: var(--accent);}
a:active {color: var(--dkmid);}

h4 {
  font-weight: bold;
  margin-bottom: 0;
}
.modal-title {
  font-size: larger;
  font-weight: bold;
  color: var(--dark);
}
p {
  font-size: 11pt;
  color: var(--otherdk);
}
.modal-text {
  font-size: medium;
  color: var(--otherdk);
}


header.top-nav { 
  background-color: var(--verylight); 
  padding: 1rem 3rem 1rem 0; 
  display: flex; 
  min-height: 6rem; 
  justify-content: space-between; 
  align-items: center; 
  position: relative; 
}
nav { 
  flex-basis: 30%; 
  display: flex; 
  justify-content: space-between; 
}
a.nav-link { 
  padding-left: 2.8rem; 
  color: var(--dark); 
  font-weight: 500; 
  text-decoration: none; 
  transition: all .2s ease-in-out; 
}
a.nav-link:hover {
  color: var(--accent);  
}
a.nav-link.logo {  
  text-transform: uppercase; 
  font-weight: 900; 
}
a#trigram { 
  display: none;  
}
a#trigram::before { 
  content: '\2630'; 
  font-size: 4rem; 
  position: relative; 
  top: -.5rem; 
  right: 0; 
}
main {
  padding: 2rem 4rem; 
}
.darkText {
  color: var(--dark);
}
.slideshow {
  background-color: var(--light);
  border-radius: rpx;
  padding: 1em;
}
.slideshow-wrapper {
  position: relative;
  margin: auto;
  max-width: 100%;
}
.slideshow-wrapper img {
  width: 100%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.8s ease;
  border-radius: 0 5px 5px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.captiontext {
  background: rgba(0,0,0,0.4);
  color: #f2f2f2;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}
.numberof {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.text-center {
  display: flex;
}
.indicator {
  cursor:pointer;
  height: auto;
  width: 25%;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: all 250ms ease-in-out;
  opacity: .5;
}
.indicator img {
  width: 100% !important;
}
.active, .indicator:hover {
  opacity: 1;
}
.controls button { 
  cursor: pointer; 
  position: absolute; 
  width: auto; 
  top: 40%; 
  color: var(--dark); 
  background-color: transparent; 
  border: none; 
  font-weight: 800; 
  font-size: 8rem; 
  transition: 0.2s ease; 
}
.controls button:hover {
  color: var(--accent); 
}
.controls button:nth-child(1) {
  left: 1rem; 
}
.controls button:nth-child(2) {
  right: 1rem; 
}
.slideshow h2 { 
  font-size: 4rem; 
}
.hero {
  padding: 3rem 0; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  background-color: var(--dark); 
  width: 100vw; 
  margin: 2rem 0 1rem -2rem; 
}
.hero > * { 
  margin: 0; 
  padding: 0; 
}
.grid-cont { 
  padding-top: 7rem; 
  padding-bottom: 1rem;
  display: grid; 
  grid-gap: 2rem; 
  grid-template-columns: 1fr; 
}
@media screen and (min-width: 550px) { 
  .grid-cont {grid-template-columns: repeat(2, 1fr);}
  .topnav {display: flex; flex-direction: row; justify-content: space-between;}
}
@media screen and (min-width: 768px) { 
  .grid-cont {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 1080px) { 
  .grid-cont {grid-template-columns: repeat(4, 1fr);}
}

@media screen and (max-width: 768px) { 
  .nav-wrap {display: none;}
  .top-nav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
  .top-nav {display: flex; flex-direction: row; justify-content: space-between;}
  a#trigram {display: flex; flex-direction: row; justify-content: space-between;}
  .top-nav.responsive a:first-child {margin-top:1em;}
  .top-nav.responsive a, .top-nav.responsive .nav-wrap {display:flex; flex-direction: column; text-align: center; margin-top: 1rem;}
  .top-nav.responsive {display: flex; flex-direction: column; align-items: center; text-align: center;}
  .top-nav.responsive a#trigram {visibility:hidden; transition:none;}
  .top-nav.responsive a#trigram:after {content:'\000D7'; visibility: visible; text-indent: -.65em; font-size: 3em;}
  .slideshow {display: none;}
  .grid-cont {padding-top: 0;}

}
.card { 
  padding: 5%; 
  display: flex; 
  flex-direction: column; 
  border-radius: 8px; 
  background-color: var(--verylight); 
}
.card img { 
  width: 100%; 
  height: auto; 
  max-height: 320px; 
  border-radius: 8px 8px 0 0; 
}
.card button { 
  width: 100%; 
  min-width: 6rem; 
  margin: 2rem auto; 
  margin-bottom: 0rem;
  padding: 1rem 2rem; 
  cursor: pointer; 
  border: none;
}
.card-content {
  margin-bottom: 2rem;
  height: 12rem;
}

/*-- Modal Styles --*/
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(10, 10, 10, .4);
}
.modal-content {
  background-color: var(--verylight);
  color: var(--text);
  margin: 1rem auto;
  padding: 1em;
  width: 92%;
  border-radius: 4px;
  animation: fadein .3s ease-in-out;
}
@keyframes fadein {
 from{transform:scale(.1);}
}
.close {
  color: var(--text);
  font-size: 2.5em;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 4.25%;
  transition: all .2s ease-in;
  text-shadow: 2px 2px 5px #FAFAFA,
              -2px -2px 5px #FAFAFA,
              2px -2px 5px #FAFAFA,
              -2px 2px 5px #FAFAFA;
}
.close:hover,
.close:focus {
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
}
.modal-body {
 display: grid;
 grid-template-columns: 1fr;
 grid-gap: 2em;
}
.modal-text {
 align-self: center;
 font-size: large !important;
}
.modal-body img {
 margin-bottom: 1.5em;
 width: 100%;
 height: auto;
}
@media screen and (min-width: 1280px) {
 .modal-body {grid-template-columns: 7fr 5fr;}

}

.thumb {
  padding-bottom: 56%;
  background-size: cover;
  background-position: center center;
  border-radius: 4px 4px 0 0;
}
/*-- Card Backgrounds --*/
.one .thumb {background-image: url('https://picsum.photos/300/200/?image=60');}
.two .thumb {background-image: url('https://picsum.photos/300/200/?image=61');}
.three .thumb {background-image: url('https://picsum.photos/300/200/?image=62');}
.four .thumb {background-image: url('https://picsum.photos/300/200/?image=63');}
.five .thumb {background-image: url('https://picsum.photos/300/200/?image=64');}
.six .thumb {background-image: url('https://picsum.photos/300/200/?image=65');}
.seven .thumb {background-image: url('https://picsum.photos/300/200/?image=66');}
.eight .thumb {background-image: url('https://picsum.photos/300/200/?image=67');}

footer { 
  margin-top: 2rem; 
  background-color: var(--dark); 
  padding: 1rem 2rem; 
  display: flex; 
  height: 6rem; 
  justify-content: space-between; 
  align-items: center; 
}
footer p { 
  width: 100%; 
  text-align: center; 
  font-weight: 500; 
}
