:root {
  --heroText: swear-display, serif;
  --buttonText: "realistnarrow", sans-serif;
  --subtitleText: "realistnarrow", sans-serif;
  --bgcolor: #187845;
  --mainbgcolor: #fefefe;
  --lightText: rgb(240, 240, 240);
  --darkText: #cbcbcb;
  --darkerText: #a0a0a0;
  --darkestText: #5a5a5a;
}

html{
  scroll-behavior: smooth;
  background-color: var(--mainbgcolor);
}
body {
  font-family: "stevie-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--darkestText);
  background-color: var(--mainbgcolor);
}
.grid_color{
  /* background-color: #efefef; */
}

nav{
  padding-bottom: 1.5rem;
}
.bottomnav{
  padding: 1.5rem 1rem;
}
.bottomnavLeft{
padding: 0 10px;
color: var(--darkerText);
}
.bottomnavLeft:hover{
  color: var(--darkestText);
}
.bottomnavbackground{
  min-height: 3rem;
  padding: .5rem .75rem;
  background-color: rgb(248, 248, 248);
  border-radius: 1rem;
  margin: 0rem 1.5rem;
  box-shadow: 0 0px 15px -5px rgba(0,0,0,.4);
}
.navtoTopLayer{
  position: relative;
  z-index: 200;
}

a {
  color: var(--darkText);
  text-decoration: none;
}
a:hover {
  color: var(--darkerText);
  transition: .4s !important;
}

.btnstyles{
  border:none;
  border-radius: 2rem;
  padding: .75rem 1.5rem;
  margin: .5rem;
  background-color: #eceaea;
  text-decoration: none;
  font-family: var(--buttonText);
  color: var(--darkText);
}
button:hover{
  color: var(--darkestText);
  transition: 0.3s;
}
.imagebutton{
  border: none;
  border-style: none;
  background-color: inherit;
}

img{
  user-select: none;
}

p{
  color: var(--darkerText);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-heading {
  font-family: "stevie-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.h3 {
  font-size: 20px;
}

.h4 {
  font-size: 16px;
}

.nameTitleThings{
  font-family: var(--heroText);
  font-weight: 800;
  font-style: italic;
  font-size: 6.5rem;
  line-height: 3.5rem;
  color: var(--lightText);
  padding-bottom: 0 !important;
  margin-bottom: 0 !important; 
}
.nameTitleThings:hover{
  color: var(--lightText);
}
.helloim{
  font-size: 4.5rem;
}
.selectedWorks{
  font-family: var(--heroText);
  font-weight: 800;
  font-style: italic;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--darkestText);
  padding-bottom: 0;
  margin-bottom: 0; 
}
.otherTitleThings{
    font-family: var(--heroText);
    font-weight: 800;
    font-style: italic;
    font-size: 4.5rem;
    line-height: 3.5rem;
    color: var(--darkestText);
    padding-bottom: 0;
    margin-bottom: 0; 
}
.otherTitleThingsSmall{
  font-family: var(--heroText);
  font-weight: 800;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: var(--darkestText);
  padding-bottom: 0;
  margin-bottom: 0;  
}
.subtitletext{
  font-family: var(--subtitleText);
  font-weight: 400;
  font-style: normal;
  font-size: large;
  margin-top: .25rem;
  padding: 0;
  color: var(--darkText);
}
.btntext{
  font-family: var(--buttonText);
  font-weight: 400;
  font-style: normal;
}

.aboutdescriptioncontainer, .aboutskillsdescriptioncontainer{
  min-height: 90vh;
  padding-bottom: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottomaboutdescriptioncontainer{
  padding-bottom: 0;
}
.aboutskillsdescriptioncontainer{
  min-height: 70vh;
  justify-content:center;
  border-style: solid;
  border-color: var(--darkText);
  border-radius: 1.5rem;
  padding: 1rem;
  margin: 1.5rem;
  margin-bottom: 30vh;
  background-color: var(--mainbgcolor);
}
.aboutdescription{
  font-weight: lighter;
  font-size: 24px;
}
/* .companytext{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0rem;
} */
.companylogos{
  margin: 0 1.5rem;
}

.contactdescriptioncontainer{
  min-height: 59vh;
  padding-top: 10vh;
}

.heroimage{
  margin-left: 8rem;
  width: 25rem;
}
.heroimagewrap{
  display: flex;
  justify-content: center;
}

.section {
  padding: 3rem 0;
  padding-bottom: 0;
}
.sectiontop{
  padding: 2.5rem 0;
}
.mainpage{
  min-height: 69vh;
  display: flex;
  align-items: center;
  padding-top: 5rem;
}
.sticky{
  position: sticky;
  position: -webkit-sticky;
  top:0;
}
.upshadow{
  box-shadow: 0 -20px 20px -20px rgba(0,0,0,.8);
}
.herobgcolor{
  background-image: url(../img/Devon-HeroImage-flowers.jpg);
  background-repeat: no-repeat;
  background-position: center -2rem;
  background-size: cover;
}
.justFlowersBg{
  background-image: url(../img/JustFlowersHuge.jpg);
  background-position: center;
  background-position: top;
  background-repeat: repeat-y;
  background-size: contain;
}

.workbelow{
  text-align: end;
  padding-right: 3vh;
  margin-top: 0;
  margin-bottom: 10vh;
}
.workssection{
  padding: 0;
  margin-top: 2rem 0 0 0;
  }
.nonstickybgcolor{
  background-color: var(--mainbgcolor);
}

/* Single Work Pages */
.singleworkcolumn{
  width: 90%;
  text-align: center;
}
.singleworkcolumndescription{
  margin: 3rem auto 0 auto;
  max-width: 55vw;
  font-size: large;
}
.singleworktitle{
  font-family: var(--heroText);
  font-weight: 800;
  font-style: italic;
  font-size: 4.5rem;
  padding-bottom: 1rem;
  max-width: 90vw;
}
.singleworkdescription{
  font-weight: lighter;
}
.singleworkcolumnitems{
  margin: 3rem auto;
  max-height: 90vh;
}

/* End Single Work Pages */

.quickFixNavSingle {
  margin-bottom: 2rem;
  align-items: flex-start;
  text-align:left;
  padding-left: 2rem;
}

.quickFixWorkSectionbottom {
  margin-bottom: 1rem !important;
  padding-bottom: 1rem !important;
}

.quickFixStickyText {
  margin-left: 1rem;
}

.setServicesSize {
  min-height: 4rem;
}

.setTitleColor {
  color:#000;
}

.setContact {
  margin-left: 1rem;
}
.navbuttons{
  padding: 1rem;
  padding-left: 0;
}

.contactgrid{
  display: grid;
  grid-template-columns: 5fr 6fr;
  align-items: baseline;
}
.skillsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.skillsText{
  font-size: 18px;
}
.contactmelinks{
  padding: 1.5rem;
}

.aboutimg{
  max-width: 25rem;
}

.capstonebanddescriptors{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
}

.mobileHeroCentering{
  /*  */
}
.mobileFooterCentering{
/*  */
}

.custom-navbar .navbar-brand {
  font-size: 1.7rem;
}


.filters a {
  text-decoration: none;
  color: var(--darkerText);
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.filters a:hover,
.filters a:focus,
.filters a:active {
  text-decoration: none;
  color: var(--darkestText);
}

.filters a:hover:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.filters a.active {
  color: var(--darkestText);
}

.filters a.active:before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 0;
  height: 1px;
  background-color: #000;
}

.item {
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.item .item-wrap {
  display: block;
  position: relative;
  overflow: hidden;
}

.item .item-wrap:after {
  /* z-index: 2; */
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease-in-out;
}

.item .item-wrap img {
  transition: 0.3s transform ease;
  transform: scale(1);
}

.item .item-wrap>.work-info {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  z-index: 3;
  transform: translateY(-50%);
  color: #fff;
  opacity: 0;
  visibility: hidden;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.item .item-wrap>.work-info h3 {
  font-size: 20px;
  margin-bottom: 0;
}

.item .item-wrap>.work-info span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.item .item-wrap:hover {
  text-decoration: none;
}

.item .item-wrap:hover img {
  transform: scale(1.05);
}

.item .item-wrap:hover:after {
  opacity: 1;
  visibility: visible;
}

.item .item-wrap:hover .work-info {
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
}

.sticky-content {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  /* required */
}

.list-line li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.list-line li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.7rem;
  width: 10px;
  height: 2px;
  background: #000;
}

/* Services */
.services i {
  font-size: 40px;
}

.services h4 {
  padding-top: 10px;
}

.py-2{
  padding: 2rem 0 !important;
}
.my-10{
  margin: 10rem 0;
}
.mt-10{
  margin-top: 10rem;
}
.mx-3{
  margin-left: 3rem;
  margin-right: 3rem;
}

.alignItemsCenter{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.alignItemsStart{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.justifyContentCenterRow, .justifyContentCenterRowBetween{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}
.justifyContentCenterRowBetween{
justify-content: space-between;
}
.justifyContentCenterColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.spaceAround{
  justify-content: space-around;
}
.nopadding{
  padding: 0;
}
.nobottommargin{
  margin-bottom: 0;
}
.maxwidth90vw{
  max-width: 90vw;
}
.mobileJustifyContentCenter{
/*  */
}
.hideOnMobile{
  /*  */
}

.footer {
  padding: 0 0 3rem 0;
}
.footer a {
  color: #000;
}
.footerCopyright{
  display: flex;
  align-items: center;
}
.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #f8f9fa;
  position: relative;
  text-align: center;
  color: #0d1e2d;
}
.social a span {
  display: inline-block;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.social a:hover {
  color: #000;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.95); /* Black w/ opacity */
  backdrop-filter: blur(5px);
}

.modal-content2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content:center;
  align-items: center;
  margin: 1rem auto;
  padding-left: 2.1rem;
  min-height: 95vh;
  width: 80vw;
  border: none;
}
.modal-image-container{
  min-width: 75vw;
  display: flex;
  justify-content: center;
}
.modal-images{
  max-height: 90vh;
  max-width: 70vw;
}
.modal-dualimages{
  max-width: 35vw;
}

.modalbuttons{
  color: var(--darkText);
}
.closecontainer{
  min-height: 94vh;
}
.close {
  font-size: 32px;
  font-weight: bold;
  user-select: none;
}
.rightarrow{
  font-size: 40px;
  padding:1rem;
  user-select: none;
}
.leftarrow{
  font-size: 40px;
  padding:1rem;
  user-select: none;
}
.close:hover,.close:focus,
.rightarrow:hover,.rightarrow:focus,
.leftarrow:hover,.leftarrow:focus {
  color: var(--darkestText);
  text-decoration: none;
  cursor: pointer;
}

.dots{
  font-size: 18;
  padding: .5rem;
}
.dots:hover{
  text-decoration: none;
  cursor: pointer;
}
.dotsContainer{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.hide{
  display: none;
}

@media (max-width: 991px) {
  .custom-navbar>.container {
    padding-right: 0;
    padding-left: 0;
  }
  .item-wrap{
    margin: 0rem 1rem ;
  }

  .alignItemsCenter{
    flex-direction: column;
  }
  .mobileJustifyContentCenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .centerTextMobile {
    text-align: center !important;
  }
  .navbuttons{
    margin: 0;
  }
  .navrow{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 100;
  }
  .bottomnav{
    display: none;
  }
  .nameTitleThings{
    font-size: 4rem;
  }
  .otherTitleThings{
    padding-top: 2rem;
  }
  .mobileHeroCentering{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .mobileFooterCentering{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 3;
  }
  
  .workbelow{
    text-align: inherit;
    display: none;
  }
  .mainpage{
    min-height: auto;
    padding-top: 0;
    margin-bottom: 1rem;
  }
  .herobgcolor{
    background-image: url(../img/Devon-HeroImage-noflowers.jpg);
  }
  .upshadow{
    box-shadow: none;
  }

  .singleworkcolumndescription{
    max-width: 80vw;
    margin: 0 auto;
  }
  .rightarrow,.leftarrow, .dotsContainer{
    display: none;
  }
  .closecontainer{
    max-width: 1rem;
    display: none;
  }
  .modal-content2{
    padding: 0;
  }
  .modal-images{
    max-height: 70vh;
    max-width: 90vw;
  }
  .modal-dualimages {
    max-width: 50vw;
  }

  .skillsGrid{
    grid-template-columns: 1fr;
  }
  .companylogos{
    padding: 2rem 1.5rem;
  }
  .justifyContentCenterRow{
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

}