body {
    background-color: rgb(105, 215, 255);
    background-image:url("../img/2210.jpg");
    background-size:115rem;
    background-position: top;

    font-family: bd-supper, sans-serif;
    font-weight: 500;
    font-style: normal;
}

main {
    text-align: center;
    
}

img {
    height: 20rem ;
    width: 20rem ;
    border-style: solid;
    border-color:#bbad9a;
    border-width: .2rem;
    border-radius: 1rem;
}

h1 {
    font-size: 2rem;
}
.topheader{
    background-color: rgb(246, 250, 254);
    padding: .5rem;
    padding-top: .75rem;
    margin-top: 0;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 6px #869fab);
}
.housetext {
color: aliceblue;
margin-top: 0;
}

.selecter {
    text-align: center;
    background-color: pink;
    border:none;
    border-radius: 10px;
    padding: 1rem 8rem;
    font-family: "bd-supper", sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor:pointer;
}
.selecter::after{
    background-color: rgb(226, 159, 170);
}


section.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .2fr 1.8fr;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}

.bottom {
    display: grid;
    align-items: center;
    text-align: center;
    min-height: 25rem;
    padding: 2rem;
    margin: 5%;
    margin-top: 4.5rem;
    background-color:rgb(145, 126, 105) ;
    border-radius: 20px;
    
  }
.bottomgrid{
    display: grid;
    grid-gap: 2rem;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}

.qp {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #faebd7;
    padding: 1.5rem;
    border-style: solid;
    border-color:#bbad9a;
    border-width: .2rem;
    border-radius: 1rem;
    filter: drop-shadow(0px 0px 6px #869fab);
}
.qpbottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #faebd7;
    border-radius: 20px;
    padding: 1.5rem;
    padding-bottom: .5rem;
    filter: drop-shadow(10px 10px 4px #6a5946);
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20rem;
    min-height: 2.65rem;
    margin: 1rem 0 0 0;
}

.buttongrid {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 2fr 1fr;
}

option {
    font-family: "bd-supper", sans-serif;
    font-weight: 700;
    font-style: normal;
}

button {
    background-color: pink;
    border-radius: 10px;
    border:none;
    margin: 1rem 0;
    padding: 1rem 2rem;
    font-family: "bd-supper", sans-serif;
    font-weight: 700;
    font-style: normal;
}
button:hover{
    background-color: rgb(226, 159, 170);
}
button.circle {
    background-color: #e3d2bb;
    border-radius: 50%;
    padding: .5rem .75rem .5rem .75rem ;
    margin: 0;
    margin-left: 100%;
    font-size:small;
    font-weight:bold;
    color: #a39178;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
button.circle:hover {
    background-color: #c2af94;
}

.checkOut{
    min-height: 85vh;
    display: none;
    flex-direction: column;
    justify-content:flex-end;
    text-align: end;
    min-width: 20vw;
    color: aliceblue;
    margin: .25rem 5.5rem 0 0;
}
.hideWithoutCat{
    display: none;
}

@media only screen and (max-width: 720px) {
section.bottom {
    padding: 1rem;
    
}
.bottomgrid{
    grid-template-columns: auto;
}
img{
    height: 15rem;
    width: 15rem;
}
.selecter {
    padding: 1rem 5rem;
}
.checkOut{
    display: none;
}
}
